.navbar {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.502);

}

a.nav-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;

}

a.navbar-brand {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;


    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.jumbotron {

    background-image: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%), url("/asset/img/main-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;

}

div.main {
    text-align: center;
}

h1.main {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 83px;

    letter-spacing: 3px;
    text-transform: uppercase;

    color: #FFFFFF;
}

h3.main {
    margin-top: 57px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    letter-spacing: 2px;

    color: #FFFFFF;
}

a.main.btn {
    margin-top: 57px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */




    color: #1A1917;

    padding-top: 15px;
    width: 260px;
    height: 60px;

}

.gallery {
    background-image: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%), url("/asset/img/the-games-bg.jpg");
    background-size: cover;
    background-position: left;
    height: 100vh;
}

.content-galeri {
    height: 100%;

}

.text-1 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;

    color: #FFFFFF;
}

.text-2 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.text-3 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;

    color: #FFB548;
}

.text-4 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */

    text-align: justify;

    color: #FFFFFF;
}

.carousel-indicators {
    height: 10px;

}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-control-next,
.carousel-control-prev {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -50px;
    margin-right: -50px;
    width: 5%;
    height: 32px;
}

.carousel-control-prev-icon {
    background-image: url(/asset/img/prev.svg);
}

.carousel-control-next-icon {
    background-image: url(/asset/img/next.svg);
}

.feature {
    background-image: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%), url("/asset/img/features.jpg");
    background-size: cover;
    background-position: center center;
    height: 120vh;
}

ul.feature-list {
    margin-top: 70px;
    list-style-position: outside;

}


ul.feature-list li {
    list-style: url("/asset/img/Ellipse.svg");
    padding-left: 20px;
    margin-top: 36px;
    margin-bottom: 17px;
}

ul.feature-list li.active {
    list-style: url("/asset/img/Ellipse-fill.svg");
}

/* ul.feature-list li.active::after {
    border-left: 1px solid white;
    bottom: 0;
    content: "";
    left: 27px;
    position: relative;
    top: 0;

}

ul.feature-list li.active::before {
    border-left: 1px solid white;
    bottom: 0;
    content: "";
    left: 27px;
    position: relative;
    top: 0;

} */

ul.feature-list p {
    position: relative;
    height: 100px;
    padding-left: 19px;
    border-left: 1px solid white;

}

.requirements {
    background-image: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%), url("/asset/img/requirements.png");
    background-size: cover;
    background-position: right;
    height: 100vh;
    height: 960.16px;
}

table,
td,
th {
    border: 1px solid #979797;
}

table {
    margin-top: 120px;
    height: 400px;
    width: 573.2px;
    table-layout: fixed;
    align-items: top;
}

td {
    vertical-align: top;
    padding: 15px;
}



.scores {
    background-image: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%), url("/asset/img/bg_topscores.jpg");

    /* background: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%); */
    background-size: cover;
    background-position: center center;
    height: 100vh;
}



footer {
    background-color: #080A0B;
    background-size: 100% auto;
    height: 959.87px;
}