/* css text start */

html {
    font-size: 12px;

}


.text-main {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 6rem;
    line-height: 6.916rem;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.text-btn {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 1.333rem;
    line-height: 1.83rem;
    /* identical to box height */
    color: #1A1917;
}

.text-footer {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.33rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.text-1 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.33rem;
    letter-spacing: 2px;

    color: #FFFFFF;
}

.text-2 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 4.66rem;
    line-height: 5.33rem;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.text-3 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.33rem;
    letter-spacing: 2px;

    color: #FFB548;
}

.text-4 {
    font-family: " Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.83rem;
    /* or 122% */



    color: #FFFFFF;
}

.text-5 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 1.166rem;
    line-height: 1.583rem;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;
}

.text-6 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 5.416rem;
    line-height: 6.25rem;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #FFFFFF;
}

/* css text end */

/* css navbar start */
.navbar {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.502);

}

a.nav-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;

}

a.navbar-brand {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* css navbar end */

/* css main start */
.jumbotron {

    background-image: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%), url("/asset/img/main-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;

}

div.main {
    text-align: center;
}



a.main.btn {
    margin-top: 4.75rem;
    padding-top: 1.25rem;
    width: 21.66rem;
    height: 5rem;

}

/* css main end */

/* css galeri start */

.gallery {
    background-image: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%), url("/asset/img/the-games-bg.jpg");
    background-size: cover;
    background-position: left;
    height: 100vh;
}

.content-galeri {
    height: 100%;

}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-control-next,
.carousel-control-prev {
    margin-top: auto;
    margin-bottom: auto;

    width: 5%;
    height: 32px;
}

.carousel-control-prev-icon {
    background-image: url(/asset/img/prev.svg);
}

.carousel-control-next-icon {
    background-image: url(/asset/img/next.svg);
}

/* css galeri end */

/* css feature start */
.feature {
    background-image: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%), url("/asset/img/features.jpg");
    background-size: cover;
    background-position: right;
    height: 120vh;
}

ul.feature-list {
    margin-top: 5.83rem;
    list-style-position: outside;

}


ul.feature-list li {
    list-style: url("/asset/img/Ellipse.svg");
    padding-left: 1.66rem;
    margin-top: 3rem;
    margin-bottom: 1.416rem;
}

ul.feature-list li.active {
    list-style: url("/asset/img/Ellipse-fill.svg");
}


ul.feature-list p {
    position: relative;
    height: 8.33rem;
    padding-left: 1.583rem;
    border-left: 1px solid white;

}

/* css feature end */

/* css requirment start */

.requirements {
    background-image: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%), url("/asset/img/requirements.png");
    background-size: cover;
    background-position: right;
    height: 100vh;
    height: 960.16px;
}

table,
td,
th {
    border: 1px solid #979797;
}

table {
    margin-top: 120px;
    height: 400px;
    width: 573.2px;
    table-layout: fixed;
    align-items: top;
}

td {
    vertical-align: top;
    padding: 15px;
}

/* css requirement */

/* /css scores start */
.scores {
    background-image: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%), url("/asset/img/bg_topscores.jpg");

    /* background: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%); */
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.quotes {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    padding-top: 5px;
}

.top-scores.btn {
    height: 60px;
    width: 260px;
    padding-top: 15px;
}

.circle {
    height: 65px;
    width: 65px;
    margin-left: 20px;
    z-index: 1;
    background-color: #bbb;
    border-radius: 50%;

}

/* css scores end */

footer {
    background-color: #080A0B;
    background-size: 100% auto;
    height: 100vh;
}

.skull {

    height: 684px;
    width: 445px;
    background-image: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%), url(/asset/img/skull.png);
    background-size: contain;
}

.form-control.footer {
    background-color: rgb(0, 0, 0, 0);
    border: none;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    outline: none;
    color: #FFB548;
    margin-top: -10px;
}

.input-email {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.08);
    width: 366px;
}

.btn-email {
    height: 100%;
    width: 260px;
}

.form-control:focus {
    box-shadow: none;
}



/* media query */
@media only screen and (max-width: 576px) {
    html {
        font-size: 7px;
    }


}