body {
    margin: 0;
}

.grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        'sidebar header'
        'sidebar content'
        'footer footer';
    grid-template-columns: 200px 3fr;
    grid-template-rows: 50px 1fr 80px;

    height: 100%;
}

.header {
    grid-area: header;
    background-color: aqua;
}

.sidebar {
    grid-area: sidebar;
    background-color: aquamarine;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
    background-color: aqua;
}

.grid-container>div {

    text-align: center;

    font-size: 30px;
}